.screen-header {
  display: flex; /*옆으로 나란히 정렬*/
  justify-content: space-between;
  align-items: center; /* x축을 교차축으로 정렬*/
  padding: var(--horizontal-space);
  margin-top: 10px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  right: 21px;
  top: 32px;
}
